img.small-cover {
    max-width: 50px;
}

.clickable, a[data-ng-click] {
    cursor: pointer;
}


#container {
    position: relative;
}

#nav-menu {
    position: fixed;
    background-color: white;
}

#nav-menu + * {
    margin-top: 37px;
}

nav .nav-wrapper {
    display: inline-block;
}

nav .nav.nav-list {
    float: left;
    text-align: center;
}