<h3>{{entry.title}}</h3>
<div class="alert" data-ng-show="{{entry.paths.length == 0}}">No file paths added</div>
<div class="row-fluid">
    <div class="span2">
        <div class="btn-toolbar text-center">
            <div class="btn-group">
                <a class="btn" href="#/entries/{{entry.id}}/download"><span class="icon-download"></span></a>
                <a class="btn" href="#/entries/{{entry.id}}/path"><span class="icon-folder-open"></span></a>
                <a class="btn" href="#/entries/{{entry.id}}/seasons"><span class="icon-cog"></span></a>
            </div>
        </div>

        <div class="thumbnail text-center">
            <img data-ng-src="{{entry.image}}">
        </div>

        <dl>
            <dt>Watched</dt>
            <dd>{{entry.watched || 0}} / {{(entry.seasons | transform:'episodes' | flatten).length || '?'}}</dd>
            <dt>Genres</dt>
            <dd>{{entry.genres.join(', ')}}</dd>
        </dl>
    </div>

    <p class="span5" data-ng-bind-html="entry.synopsis"></p>
    <div class="span5 tabbable" data-ng-init="activeSeasonTab = 0">
        <ul class="nav nav-tabs">
            <li data-ng-repeat="season in entry.seasons | orderBy: 'season'" data-ng-class="{active: $index == activeSeasonTab}">
                <a class="clickable" data-ng-click="$parent.activeSeasonTab = $index">{{season.season}}. season</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane row-fluid" data-ng-repeat="season in entry.seasons | orderBy: 'season'" data-ng-class="{active: $index == activeSeasonTab}">
                <div class="span2">
                    <img class="thumbnail" data-ng-src="{{season.image}}">
                </div>

                <div class="span10">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Number</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="episode in season.episodes">
                                <td style="vertical-align: middle">
                                    <button data-ng-click="play(episode)" data-ng-show="episode.path" class="btn"><span class="icon-play"></span></button>
                                </td>
                                <td style="vertical-align: middle">{{episode.episode}}</td>
                                <td style="vertical-align: middle">{{episode.title}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullscreen" data-ng-click="closeVideo($event)" data-ng-if="video">
    <div data-ng-if="video.fallback == 0" class="flowplayer no-time videoPlayer" data-embed="false" data-native_fullscreen="true" data-ng-init="initFlow($event)" data-ng-click="$event.stopPropagation()">
        <video autoplay controls>
            <!--<source type="video/webm" src="/stream/{{video.src}}/webm/?size={{video.size}}">-->
            <source type="application/vnd.apple.mpegurl" src="/stream/{{video.src}}/hls/playlist.m3u8?size={{video.size}}">
    </div>
    <div data-ng-if="video.fallback == 1" class="flowplayer no-time videoPlayer" data-embed="false" data-ng-init="initFlow($event)" data-ng-click="$event.stopPropagation()">
        <video autoplay controls>
            <source type="video/abxc" src="/stream/{{video.src}}/flv/?size={{video.size}}">
        </video>
    </div>
    <div data-ng-if="video.fallback == 3" class="videoPlayer" data-ng-click="$event.stopPropagation()">
        No suitable player found. Download <a href="/stream/{{video.src}}">here</a>.
    </div>
</div>