<h3>{{entry.title}}</h3>
<form class="form-inline">
    <select data-ng-model="assignMethod" data-ng-init="assignMethod = 'e'">
        <option value="sxe">SeasonxEpisode (S01E01)</option>
        <option value="se">SeasonEpisode (101)</option>
        <option value="e">Episode only (01)</option>
        <option value="numbered">numbered episode (528)</option>
    </select>
    <input type="number" class="input-mini" data-ng-show="assignMethod == 'e'" data-ng-model="assignSeason" placeholder="Staffel" min="0">
    <button class="btn" data-ng-click="autoAssign()">Auto Assign</button>
    <button class="btn" data-ng-click="applyEpisodes()">Apply</button>
</form>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Path</th>
            <th>Season</th>
            <th>Episode</th>
        </tr>
    </thead>

    <tbody>
        <tr data-ng-repeat="file in files | orderBy: 'file'">
            <td>{{file.file}}</td>
            <td>
                <select class="input-large" data-ng-model="file.season" data-ng-options="season.season for season in entry.seasons">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <input class="input-mini" type="number" min="1" step="1" data-ng-model="file.episode"></td>
        </tr>
    </tbody>
</table>
