<table class="table">
    <thead>
        <tr>
            <th>Foldername</th>
            <th>Beautified Name</th>
            <th>Metadata</th>
        </tr>
    </thead>

    <tbody>
        <tr data-ng-repeat="file in files | orderBy: ['path']">
            <td>
                <a data-ng-click="navigate(file)" data-ng-show="file.isDir">{{file.name}}</a>
                <span data-ng-hide="file.isDir">{{file.name}}</span>
            </td>
            <td>
                <input type="text" data-ng-model="file.beautified" data-ng-show="file.isDir"></td>
            <td>
                <div class="input-append btn-group" data-ng-class="{open: file.open}" data-ng-show="file.isDir">
                    <input type="search" data-ng-model="file.search" placeholder="{{(entries | toArray | arrayContains:file.path:'paths' | transform: 'title').join(', ')}}">
                    <button class="btn dropdown-toggle" data-ng-click="file.open=!file.open">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="entry in entries | toArray | filter: {title: file.search}">
                            <a tabindex="-1" data-ng-click="toggleEntry(file, entry)">{{entry.title}}
                               <span class="icon-ok pull-left" data-ng-class="{hidden: (entries | toArray | arrayContains:file.path:'paths' | transform: 'id' | filter: entry.id).length == 0}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="progress progress-striped active" data-ng-show="indexing.progress">
    <div class="bar" style="width: 10%;"></div>
</div>

